# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Environments
.venv/
.env
.env.*

# Git
.git/
.gitignore

# Editor
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Tests and data
/tests/
*.pdf
